{% extends "base.html" %}

{% block optout %}
<a class="text-light bg-dark text-right text align-bottom mx-2" href="/optout"> opt-out </a>
{% endblock %}

{% block progress %}
<div class="progress">
  <div class="progress-bar" style="width:{{progress}}%;" role="progress" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endblock %}
