{% extends "base.html" %}


{% block content %}
    <p>
      We are conducting an academic survey about user chosen PINs, and you
      will be asked to complete a survey that will ask you to generate a
      number of PINs under different conditions. You will be <b>compensated $1.00</b> for your work. We have
      found that it takes aproximately <b> 10 minutes on average </b> to
      complete this HIT.
    </p>

    <p>
      <ul class="list-unstyled">
        {% if not accepted %}
        <li> Take the survey here: <a href="/" target="_blank">pinstudy.usnacs.org</a> </li>
        <li> Enter this start code: <div class="text_danger"> YOUR START CODE WILL APEAR ONCE YOU ACCEPT THE HIT</div></li>
        {% elif accepted and not submiited %}
        
        <li> Take the survey here: <a href="/?startcode={{startcode}}" target="_blank">pinstudy.usnacs.org</a> </li>
        <li> Enter this start code: <font style="color:green"> {{startcode}} </font></li>

        {% elif accepted and submitted %}
        <li> <div class="text-danger"> <strong> YOU HAVE ALREADY COMPLETED THIS HIT</strong>, either in this or another posting. Please return the HIT </div> </li>
        {% endif %}
      </ul>
      
    </p>
    <p>
      Once you complete the HIT, you will receive a <strong> finish code</strong>. Enter
      and submit your finish code to prove completion of your work.
      {% if not accepted %}
      <form > 
        <div class="row">
          <div class="col-sm-2">
            <input type=text" class="form-control" id="fincode" name="fincode" value="SAMPLECODE" readonly>
                                                                                                 </div>
                   <div class="col-sm-2">
                     <input class="btn btn-outline-primary" type="button" value="Submit">
                   </div>
                   </div>
                   </form>
                   {% elif accepted and not submitted %}
                   <form method="post" action="/mturk"> {% csrf_token %} 
                     <input type="hidden" name="assignmentId" value="{{assignmentId}}">
                     <input type="hidden" name="workerId" value="{{workerId}}">
                     <input type="hidden" name="hitId" value="{{hitId}}">
                     <input type="hidden" name="turkSubmitTo" value="{{turkSubmitTo}}">
                     <input type="hidden" name="startcode" value="{{startcode}}">
                     <div class="row">
                       <div class="col-sm-2">
                         <input type=text" class="form-control" id="fincode" name="fincode" value="{{fincode}}">
          </div>
          <div class="col-sm-2">
            <input class="btn btn-outline-primary" type="submit" value="Submit">
          </div>
        </div>
      </form>
      {% elif accepted and submitted %}
      <div class="text_danger"> YOU HAVE ALREADY COMPLETED THIS HIT, either in this or another posting. Please return the HIT </div> 
      {% endif %}
      
    </p>
    
    <p>
      Due to the nature of the work, <strong> you may only complete the
        HIT once, even across multiple posting of the HIT</strong>. If you accept the HIT and are notified
      that your work will not be accepted, please return the HIT. <b>
        FAILURE TO FOLLOW THIS INSTRUCTION MAY RESULT IN WORK BEING EXCLUDED
        AND/OR A <u>REJECTION</u>.</b>
    </p>
    
    <p> Please feel free to contact the requester if you have any questions
      or concerns. A prompt reply should occur within 24 hours or sooner.</p>

{% endblock %}
