{% extends "base.html" %}


{% block content %}
        <div class="container-fluid">
            <h2> Opting Out </h2>
            <p>
                You have opted out of the study. Please return the HIT on Amazon Mechanical Turk.
            </p>
            <p>
                If you feel you reached this page in error, you can restart the survey <a href="/"> here </a> and
                enter your startcode. You will be brought to the uncompleted portion of the survey.
            </p>
            <p>
                If you have any questions, please contact the requester. A typical reply is within 24 hours, or sooner
            </p>
{% endblock %}
    
