
{% extends "base_optout.html" %}

{% block content %}
<form action="/" method="post">{% csrf_token %}
  {% include "radio.html" with field=form.honest %} </li>
<input class="btn btn-outline-primary" type="submit" value="Submit" >
</form>
{% endblock %}

